<li>
  Question: {{question.body}} - Author: {{question.author}} - Notes: {{question.notes}}
  {{update-question question=question update="update"}}
  <button {{action 'delete' question}}>Delete</button>
</li>
