<h2>More information about {{model.author}}'s question</h2>
{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.author}} says: {{answer.text}}</li>
  {{/each}}
</ul>
<br>
{{new-answer question=model answer=answer saveAnswer2="saveAnswer3"}}
